img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid gray;
    width: 30%;
    margin-left: calc(10%/6);
    font-family: 'Goldman', cursive;
    padding: 1.2em 0;
}